[submodule "bookbnb-backoffice"]
	path = bookbnb-backoffice
	url = git@github.com:7552-2020C2-grupo5/bookbnb-backoffice.git
	update = merge
[submodule "server-requester"]
	path = server-requester
	url = git@github.com:7552-2020C2-grupo5/server-requester.git
	update = merge
[submodule "bookings-microservice"]
	path = bookings-microservice
	url = git@github.com:7552-2020C2-grupo5/bookings-microservice.git
	update = merge
[submodule "users-microservice"]
	path = users-microservice
	url = git@github.com:7552-2020C2-grupo5/users-microservice.git
	update = merge
[submodule "flask_cookiecutter"]
	path = flask_cookiecutter
	url = git@github.com:7552-2020C2-grupo5/flask_cookiecutter.git
	update = merge
[submodule "android-app"]
	path = android-app
	url = git@github.com:7552-2020C2-grupo5/android-app.git
	update = merge
[submodule "publications-microservice"]
	path = publications-microservice
	url = git@github.com:7552-2020C2-grupo5/publications-microservice.git
	update = merge
[submodule "middleware"]
	path = middleware
	url = git@github.com:7552-2020C2-grupo5/middleware.git
[submodule "recommendations_microservice"]
	path = recommendations_microservice
	url = git@github.com:7552-2020C2-grupo5/recommendations_microservice.git
[submodule "reviews-microservice"]
	path = reviews-microservice
	url = git@github.com:7552-2020C2-grupo5/reviews-microservice.git
[submodule "payments-microservice"]
	path = payments-microservice
	url = git@github.com:7552-2020C2-grupo5/payments-microservice.git
[submodule "notifications-microservice"]
	path = notifications-microservice
	url = git@github.com:7552-2020C2-grupo5/notifications-microservice.git
[submodule "tokens_microservice"]
	path = tokens_microservice
	url = git@github.com:7552-2020C2-grupo5/tokens_microservice.git
